@import "../../color_variables";
@import "../../breakpoints";
.cart {
    min-height: 80vh;
    h1 {
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Roboto Condensed", sans-serif;
        margin-top: 20px;
    }
    .cart-inner {
        display: grid;
        grid-template-columns: 4fr 1fr;
        background-color: $colorWhite;
    }
    .cart__order {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 20px;
        border: 5px solid $colorMainActive;
        max-height: 250px;
    }
    .cart__order-row {
        color: $colorText;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }
    .cart__order-total {
        font-weight: 600;
    }
    .cart__order-button {
        max-width: 320px;
        line-height: 40px;
        background-color: $colorMain;
        border: 2px solid $colorMainActive;
        font-weight: 300;
        font-family: "Oswald", sans-serif;
        letter-spacing: 0.1em;
        transition: 0.2s ease-in;

        &:hover {
            background-color: $colorMainActive;
            transition: 0.2s ease-out;
        }
    }
    
    .cart__products-list {
        padding-bottom: 6px;
        padding-top: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}
