@import "../../color_variables";
.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;  
    padding: 20px 10px;
    background-color: $colorMain;
    margin-top: 20px;
    h1 {
        text-transform: uppercase;
        font-weight: bold;
    } 
}